<%- include layout/header.ejs %>
<div id="wrapper">
    <div class="page-header"><h2><%=page_title%></h2></div>
    <div class="page-container">
        <div class="page-data">
            <script>
                var page_title= <%- JSON.stringify(page_title) %>;
                console.log(page_title);
            </script>
            <form method="post" action="/reg">
                <table cellpadding="11">
                <tr>
                    <td class="beforeinput">Name</td><td>: <input type="text" name="name" required ></td>
                </tr>
                <tr>
                    <td class="beforeinput">Email</td><td>: <input type="text" name="email" required ></td>
                </tr>
                <tr>
                    <td class="beforeinput">Password</td><td>: <input type="password" name="password" required ></td>
                </tr>
                <tr>
                    <td class="beforeinput">Confirm Password</td><td>: <input type="password" name="password2" required ></td>
                 </tr>
                 <tr>
                    <td class="beforeinput"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Sign up">
                    </td>
                    <td>
                        &nbsp; <input type="button" value="Sign in" onclick="javascript:window.location.href='/login'"> 
                    </td>
                 </tr>
                </table>
            </form>
            <p class="error"><%=errMSG%></p>
        </div>
    </div>
</div>        
<%- include layout/footer.ejs %>